<form class="form">
  <fieldset>
    <legend>Wedstrijd {{#if _id}}wijzigen{{else}}toevoegen{{/if}}</legend>
    <div class="block" field="general">
      <label for="general"</label>
    </div>
    <div class="block" field="matchDay">
      <label for="matchDay">Speeldatum</label>
      <input type="text" id="matchDay" name="matchDay" size="16" placeholder="dd-mm-jjjj hh:mm" value="{{formatDate matchDay format='DD-MM-YYYY HH:mm'}}" />
    </div>
    <div class="block" field="homeTeam">
      <label for="homeTeam">Thuis team</label>
      <span class="homeTeam"></span>
    </div>
    <div class="block" field="awayTeam">
      <label for="awayTeam">Uit team</label>
      <span class="awayTeam"></span>
    </div>
    <div class="block" field="homeTeamGoals awayTeamGoals">
      <label>uitslag</label>
      <input type="tel" size="2" length="2" name="homeTeamGoals" class="center" value="{{homeTeamGoals}}" />
      -
      <input type="tel" size="2" length="2" name="awayTeamGoals" class="center" value="{{awayTeamGoals}}" />
    </div>
    <div field="notes">
      <label for="description">Omschrijving</label>
      <textarea type="text" id="description" name="notes" cols="" rows="5">{{notes}}</textarea>
    </div>
  </fieldset>
  <button type="submit" class="js_button_add">Opslaan</button>
  <button type="button" class="js_button_back">Terug</button>
</form>