<div class="padding-bottom-s">
  Maand
  <select name="months" class="month_select">
    {{#each months}}
      <option value="{{yyyymm}}" {{#if selected}}selected{{/if}}>{{text}}</option>
    {{/each}}
  </select>
</div>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Datum</th>
        <th>Wedstrijd</th>
        <th>Uitslag</th>
        <th class="l-tc">Notities</th>
      </tr>
    </thead>
    <tbody>
      {{#each games}}
        <tr class="game" data-id="{{_id}}">
          <td class="right l-b">{{formatDate matchDay format='ddd DD MMM YYYY HH:mm'}}</td>
          <td class="right s-b">{{formatDate matchDay format='DD-MM HH:mm'}}</td>
          <td>
            {{#with homeTeam}}
              <img class="small" alt="{{name}}" src="{{logoBase64Url}}" /> <span class="l-i">{{name}}</span>
            {{/with}}
            -
            {{#with awayTeam}}
              <img class="small" alt="{{name}}" src="{{logoBase64Url}}" /> <span class="l-i">{{name}}</span>
            {{/with}}
          </td>
          <td>
            {{#if played}}
              {{homeTeamGoals}} - {{awayTeamGoals}}
            {{/if}}
          </td>
          <td class="l-b">{{notes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div>
  <button type="button" class="js_button_add">Toevoegen</button>
  <button type="button" class="js_button_update" disabled>Wijzigen</button>
  <button type="button" class="js_button_delete" disabled>Verwijderen</button>
  <button type="button" class="js_button_prediction" disabled>Voorspelling</button>
</div>