{{#with model}}
  Weet je zeker dat je deze wedstrijd wilt verwijderen?
  <span class="sub-text">Alle voorspellingen voor deze wedstrijd worden ook verwijderd.</span>
  <div class="center">
    <strong>
      <div class="padding-bottom-s">
        {{formatDate matchDay format='ddd DD MMM YYYY HH:mm'}}
      </div>
      <img class="small" src="/images/logos/{{homeTeam.logoFilename}}" /> {{homeTeam.name}}
        -
      <img class="small" src="/images/logos/{{awayTeam.logoFilename}}" /> {{awayTeam.name}}
    </strong>
  </div>
{{/with}}