{{#with model}}
  Weet je zeker dat je deze wedstrijd wilt verwijderen?
  <div class="center">
    <strong>
      <div class="padding-bottom-s">
        {{formatDate matchDay format='ddd DD MMM YYYY HH:mm'}}
      </div>
      <img class="small" src="{{homeTeam.logoBase64Url}}" /> {{homeTeam.name}}
        -
      <img class="small" src="{{awayTeam.logoBase64Url}}" /> {{awayTeam.name}}
    </strong>
  </div>
{{/with}}