<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Wedstrijd</th>
      <th>Uitslag</th>
      <th>Speler</th>
      <th>Voorspelling</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <div class="padding-bottom-s">
      Maand
      <select name="months" class="month_select">
        {{#each months}}
          <option value="{{yyyymm}}" {{#if selected}}selected{{/if}}>{{text}}</option>
        {{/each}}
      </select>
    </div>
    {{#each predictions}}
      <tr class="prediction" data-id="{{_id}}">
        {{#with game}}
          <td>{{formatDate matchDay format='ddd DD-MM-YY HH:mm'}}</td>
          <td>{{homeTeam.name}}-{{awayTeam.name}}</td>
          <td>{{homeTeamGoals}}-{{awayTeamGoals}}</td>
        {{/with}}
        <td>{{poolplayer.name}}</td>
        <td>{{homeTeamGoals}}-{{awayTeamGoals}}</td>
        <td>{{score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button type="button" class="js_button_add">Toevoegen</button>
<button type="button" class="js_button_update" disabled>Wijzigen</button>
<button type="button" class="js_button_delete" disabled>Verwijderen</button>
