{{#with model}}
  Weet je zeker dat je deze voorspelling wilt verwijderen?
  <div class="center">
    <div class="padding-bottom-s">
      <strong>{{poolplayer.name}}</strong> ({{homeTeamGoals}}-{{awayTeamGoals}})
    </div>
    <img class="small" src="/images/logos/{{game.homeTeam.logoFilename}}" /> {{game.homeTeam.name}}
      -
    <img class="small" src="/images/logos/{{game.awayTeam.logoFilename}}" /> {{game.awayTeam.name}}
  </div>
{{/with}}