<div class="padding-bottom-s">
  Maand
  <select name="months" class="month_select">
    {{#each months}}
      <option value="{{yyyymm}}" {{#if selected}}selected{{/if}}>{{text}}</option>
    {{/each}}
  </select>
</div>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Datum</th>
        <th>Wedstrijd</th>
        <th>Uitslag</th>
        <th>Speler</th>
        <th>Voorspelling</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each predictions}}
        <tr class="prediction" data-id="{{_id}}">
          {{#with game}}
            {{#if first}}
              <td>{{formatDate matchDay format='ddd DD-MM-YY HH:mm'}}</td>
              <td>{{homeTeam.name}}-{{awayTeam.name}}</td>
              <td>{{homeTeamGoals}}-{{awayTeamGoals}}</td>
            {{else}}
              <td colspan="3"></td>
            {{/if}}
          {{/with}}
          <td>{{poolplayer.name}}</td>
          <td>{{homeTeamGoals}}-{{awayTeamGoals}}</td>
          <td>{{score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div>
  <button type="button" class="js_button_add">Toevoegen</button>
  <button type="button" class="js_button_update" disabled>Wijzigen</button>
  <button type="button" class="js_button_delete" disabled>Verwijderen</button>
</div>
