{{> month_select }}
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Datum</th>
        <th>Wedstrijd</th>
        <th>Uitslag</th>
        <th>Speler</th>
        <th class="l-tc">Voorspelling</th>
        <th class="l-tc">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each predictions}}
        <tr class="prediction" data-id="{{_id}}">
          {{#with game}}
            {{#if first}}
              <td>
                <span class="right l-b">{{formatDate matchDay format='ddd DD MMM YYYY HH:mm'}}</span>
                <span class="right s-b">{{formatDate matchDay format='DD-MM HH:mm'}}</span>
              </td>
              <td>
                {{#with homeTeam}}
                  <img class="small" alt="{{name}}" src="images/logos/{{logoFilename}}" /> <span class="l-i">{{name}}</span>
                {{/with}}
                -
                {{#with awayTeam}}
                  <img class="small" alt="{{name}}" src="images/logos/{{logoFilename}}" /> <span class="l-i">{{name}}</span>
                {{/with}}
              </td>
              <td>{{homeTeamGoals}} - {{awayTeamGoals}}</td>
            {{else}}
              <td colspan="3"></td>
            {{/if}}
          {{/with}}
          <td>
            {{poolplayer.name}}
            <span class="s-b">
              {{homeTeamGoals}}-{{awayTeamGoals}} / {{score}}
            </span>
          </td>
          <td class="l-b">{{homeTeamGoals}}-{{awayTeamGoals}}</td>
          <td class="l-b">{{score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div>
  <button type="button" class="js_button_add">Toevoegen</button>
  <button type="button" class="js_button_update" disabled>Wijzigen</button>
  <button type="button" class="js_button_delete" disabled>Verwijderen</button>
</div>
